.layout{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    //height: 100vh;
    // background: rgb(201, 31, 201);
}

.layout2{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
    //height: 100vh;
    //background: rgb(201, 31, 201);
}

