@mixin layoutBase {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout{
    @include layoutBase;
    justify-content: space-between;
    align-items: center;
}

.layout2{
    @include layoutBase;
    align-content: center;
    min-height: 100vh;
}