.ContainerAlert{
    height: 20px;
    padding: 0px 5px 0px 5px;
    border-radius: 0px 8px 8px 8px;
    -moz-border-radius: 0px 8px 8px 8px;
    -webkit-border-radius: 0px 8px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
    font-weight: 700;
    &--Publicada{
        background: $publicada;
        color: rgb(255, 255, 255);
    }
    &--Rechazada{
        background: $Rechazada;
        color: rgb(255, 255, 255);
    }
    &--Ejecucion{
        background: $Ejecucion;
        color: rgb(255, 255, 255);
    }
    &--Finalizada{
        background: $Finalizada;
        color: rgba(0, 0, 0, 0.644);
    }
}







