.ContainerAlert{
    height: 20px;
    padding: 0px 5px 0px 5px;
    border-radius: 0px 8px 8px 8px;
    -moz-border-radius: 0px 8px 8px 8px;
    -webkit-border-radius: 0px 8px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;
    font-weight: 700;
}

.Publicada{
    background: #44ca97;
}

.Rechazada{
    background: #bdbdbd;
    color: rgb(80, 80, 80);
}

.Ejecucion{
    background: #ff5722;
}

.Finalizada{
    background: #44ca9780;
    color: rgba(0, 0, 0, 0.644);
}

