.containerComment{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
}

.userComment{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
    width: 100%;
}

.comment{
    width: 220px;
}

.footerComment{
    margin-bottom: 5px;
    color: grey;
    width: 265px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.displayName{
    font-weight: bold;
}