.containerComment{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 8px 16px 8px 16px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

.userComment{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
    width: 100%;
}

.comment{
    width: 220px;
}

.footerComment{
    margin-bottom: 5px;
    color: grey;
    width: 265px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8em;
}

.displayName{
    font-weight: bold;
}

.btnDeleteComment{
   color: #ff5722;
}