@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;600&display=swap');

//Colors
//### Primary
$primaryGreen: #00a665;
$secondaryOrange: #ff5722;
$secondaryOrangeLight: #ff562273;
$publicada: #44ca97;
$Rechazada: #c20e0e;
$Ejecucion: #ffa600 ;
$Finalizada: #9698a6;

//### Neutral
$GrayishBlue: #9698a6;
$LightGreen: #ebf1ec;
$paper: #fff;

//Typography
$mainFont: 'Public Sans', sans-serif;